/* ==========================================================================
   PDM Kiosk Portal - Base Styles
   STATUS: Browser Defaults
   ========================================================================== */

body {
  margin: 0;
  padding: 0;
  font-family: Times, "Times New Roman", serif;
}
